.all_movies_container {
  display: flex;
  flex-direction: column;
}

.movies_container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.movies_container img{
  height: 310px;
  width: 301px;
}

#top-rated-image{
  height: 200px;
  width: 200px;
}

#comedy_movie_image{
  height: 230px;
  width: 320px;
}

#trending_movie_image{
  height: 200px;
  width: 180px;
}

#action_movie_image{
  height: 220px;
  width: 200px;
}

#popular_movie_image{
  height: 220px;
  width: 230px;
}

.new_skeletons{
  height: 100%;
  width: 100%;
  overflow: auto;

}

.movies_container h1 {
  text-align: center;
  background-color: #85ffbd;
  background-image: linear-gradient(to right, #85ffbd 0%, #fffb7d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.movies_container h1 {
  margin: 0;
}

@media screen and (max-width: 600px) {
  .movies_container {
    gap: 0;
  }

  .react-loading-skeleton {
    height: 220px !important;
    width: 140px !important;
  }
}
