.navbar{
    height: 68px;
    width: 100%;
    background-color: red;
    display: flex;
}

.logo{
    height: 100%;
    width: 10%;
    background-color: black;
}

.search{
    height: 100%;
    width: 35%;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.search input{
    height: 60%;
    width: 60%;
    border: none;
    border-bottom: 2px solid gray;
    background-color: black;
    padding-left: 20px;
    border-radius: 8px;
    color: white;
}

.searchButton{
    height: 60%;
    width: 30%;
    border-radius: 8px;
    border: none;
    background-color: black;
}
.search button{
    height: 100%;
    width: 100%;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    border-bottom: 2px solid gray;
}

.rest{
    height: 100%;
    width: calc(100% - 45%);
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    color: white;
}