@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@media screen and (width<=1300px) {

    .navbar{
        height: 68px;
        width: 100%;
        background-color: rgb(15,17,21);
        display: flex;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }


    .logo{
        height: 100%;
        width: 5%;
    }

    .search{
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .rest{
        height: 100%;
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        color: white;
        font-size: 1rem;
    }

    .search button{
        height: 100%;
        width: 100%;
        border: none;
        background-color: transparent;
        color: white;
        cursor: pointer;
        border-radius: 8px;
        border-bottom: 2px solid rgb(13,154,252);
        font-size: 1.3rem;
    }

    .search input{
        height: 40%;
        width: 60%;
        border: none;
        border-bottom: 2px solid rgb(13,154,252);
        background-color: transparent;
        padding-left: 20px;
        border-radius: 8px;
        color: white;
    }
    
}

.navbar{
    height: 68px;
    width: 100%;
    background-color: rgb(15,17,21);
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: rgb(13,152,249);

}

.active{
    color: red;
}

.logo{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    height: 80%;
    width: 40%;
}

.search{
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.search input{
    height: 60%;
    width: 60%;
    border: none;
    border-bottom: 2px solid rgb(13,154,252);
    background-color: transparent;
    padding-left: 20px;
    border-radius: 8px;
    color: white;
}

.searchButton{
    height: 60%;
    width: 30%;
    border-radius: 8px;
    border: none;
    background-color: transparent;
}
.search button{
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    border-bottom: 2px solid rgb(13,154,252);
}

.search button:hover{
    border-bottom: 2px solid red;
}
.search input:hover{
    border-bottom: 2px solid red;
}

.rest{
    height: 100%;
    width: calc(100% - 45%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    color: white;
}